ACADEMIC_GARDEN_HOST=127.0.0.1
ACADEMIC_GARDEN_PORT=8787
ACADEMIC_GARDEN_USERNAME=garden
ACADEMIC_GARDEN_PASSWORD=change-this-password
ACADEMIC_GARDEN_DATA_PATH=server/data/garden.json
ACADEMIC_GARDEN_BACKUP_DIR=backups
ACADEMIC_GARDEN_BACKUP_KEEP=30
ACADEMIC_GARDEN_ALLOWED_ORIGIN=https://zhxh1021.github.io
